 
     
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 session-time-out">
            <div class="row">
                <div class="col-md-12 center-position">
                    <img src="assets/img/common/session-expire.png" alt="session-expire" style="width: 150px;height: 150px;">
                    <br>
                    <h1 style="color: #e04362;">Oops...</h1>
                    <h4>Your Session has been Expired.</h4>
                    <div class="top-space">
                        <button class="btn btn-primary" (click)="redirectHome()"><i class="fa fa-home"></i> Back to Home Page
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 