<!-- <div class="headerInsurance top-space">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <h2>Existing Address Details</h2>
        </div>
    </div>
    <div class="align-padding-left-right login-box-regn-feedback"> -->
        <!-- <form novalidate autocomplete="off"> -->
            <table>
                <thead>
                    <th>Current Address</th>
                    <th>Permanent Address</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="row top-space">
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>With Effect From (DD-MMM-YYYY)*</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>



            <!-- <app-address-details></app-address-details> -->
        <!-- </form> -->
    <!-- </div>
</div> -->