<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <img src="assets/images/about-left-image.png" alt="person graphic">
        </div>
      </div>
      <div class="col-lg-8 align-self-center">
        <div class="services">
          <div class="row">
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
              <a [routerLink]="['#']">
               <div class="icon">
                  <img src="assets/images/service-icon-01.png" alt="reporting">
                </div>
                <div class="right-text">
                  <h4>Payment Transaction</h4>
                  <p>Before you start working with payments, review payment transaction attributes.</p>
                </div>
              </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                <a [routerLink]="['#']">
                <div class="icon">
                  <img src="assets/images/service-icon-02.png" alt="">
                </div>
                <div class="right-text">
                  <h4>Verify Receipt</h4>
                  <p>Used for configuring documents to be uploaded while availing any service.</p>
                </div>
              </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                <a [routerLink]="['#']">
                <div class="icon">
                  <img src="assets/images/service-icon-03.png" alt="">
                </div>
                <div class="right-text">
                  <h4>User Feedback</h4>
                  <p>For any technical problems related to Vehicle registration, fitness, Tax, Permit etc</p>
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                <a [routerLink]="['#']">
                <div class="icon">
                  <img src="assets/images/service-icon-04.png" alt="">
                </div>
                <div class="right-text">
                  <h4>User Manual</h4>
                  <p>A user manual or a user guide is a document that contains instructions and all</p>
                </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
 
 
 
 
 <div id="portfolio" class="our-portfolio section">
    <div class="portfolio-left-dec">
        <img src="assets/images/portfolio-left-dec.png" alt="">
      </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>See What  <em>Vahan Citizen Offers </em> &amp; <span> What We Provide</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="hidden-content">
                <h4>Payment Transaction</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div>
              <div class="showed-content">
                <img src="assets/images/payment-transaction.png" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="hidden-content">
                <h4>User Manual</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div>
              <div class="showed-content">
                <img src="assets/images/user-manual.png" alt="" style="height: 147px;">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="hidden-content">
                <h4>Verify Receipt</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div>
              <div class="showed-content">
                <img src="assets/images/verfy-receipt.png" alt="" style="height: 147px;">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                <h4>User Feedback</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div>
              <div class="showed-content">
                <img src="assets/images/feedback.png" alt="" style="height: 147px;">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
