<app-logo-header></app-logo-header>
<app-menu></app-menu>
<div class="container screen-reader top-space">
   <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
            <div class="field-item even" property="content:encoded">
                <div role="main">
                    <p>Ministry Of Road Transport &amp; Highways, Govt. of India website complies with World Wide Web
                        Consortium (W3C) Web Content Accessibility Guidelines (WCAG) 2.0 level AA. This will enable
                        people with visual impairments access the website using assistive technologies, such as screen
                        readers. The information of the website is accessible with different screen readers.</p>
                        <h2 class="heading2 top-space">Various Screen Readers to choose from</h2>
                    <table class="tableData responsiveTable">
                        <thead>
                            <tr>
                                <th align="left" valign="top" scope="col">Screen Reader</th>
                                <th align="left" valign="top" scope="col">Website</th>
                                <th align="left" valign="top" scope="col">Free / Commercial</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td valign="top" data-label="Screen Reader">Non Visual Desktop Access (NVDA)</td>
                                <td valign="top" data-label="Website"><a
                                        title="External website that opens in a new window"
                                        href="http://www.nvda-project.org/"
                                        target="_blank">http://www.nvda-project.org/</a></td>
                                <td valign="top" data-label="Free / Commercial">Free</td>
                            </tr>
                            <tr>
                                <td valign="top" data-label="Screen Reader">System Access To Go</td>
                                <td valign="top" data-label="Website"><a
                                        title="External website that opens in a new window"
                                        href="http://www.satogo.com/" target="_blank">http://www.satogo.com/</a></td>
                                <td valign="top" data-label="Free / Commercial">Free</td>
                            </tr>
                            <tr>
                                <td valign="top" data-label="Screen Reader">Thunder</td>
                                <td valign="top" data-label="Website"><a
                                        title="External website that opens in a new window"
                                        href="http://www.screenreader.net/index.php?pageid=11"
                                        target="_blank">http://www.screenreader.net/index.php?pageid=11</a></td>
                                <td valign="top" data-label="Free / Commercial">Free</td>
                            </tr>
                            <tr>
                                <td valign="top" data-label="Screen Reader">WebAnywhere</td>
                                <td valign="top" data-label="Website"><a
                                        title="External website that opens in a new window"
                                        href="http://webanywhere.cs.washington.edu/wa.php"
                                        target="_blank">http://webanywhere.cs.washington.edu/wa.php</a></td>
                                <td valign="top" data-label="Free / Commercial">Free</td>
                            </tr>
                            <tr>
                                <td valign="top" data-label="Screen Reader">Hal</td>
                                <td valign="top" data-label="Website"><a
                                        title="External website that opens in a new window"
                                        href="http://www.yourdolphin.co.uk/productdetail.asp?id=5"
                                        target="_blank">http://www.yourdolphin.co.uk/productdetail.asp?id=5</a></td>
                                <td valign="top" data-label="Free / Commercial">Commercial</td>
                            </tr>
                            <tr>
                                <td valign="top" data-label="Screen Reader">JAWS</td>
                                <td valign="top" data-label="Website"><a
                                        title="External website that opens in a new window"
                                        href="http://www.freedomscientific.com/Products/Blindness/JAWS"
                                        target="_blank">http://www.freedomscientific.com/Products/Blindness/JAWS</a>
                                </td>
                                <td valign="top" data-label="Free / Commercial">Commercial</td>
                            </tr>
                            <tr>
                                <td valign="top" data-label="Screen Reader">Supernova</td>
                                <td valign="top" data-label="Website"><a
                                        title="External website that opens in a new window"
                                        href="http://www.yourdolphin.co.uk/productdetail.asp?id=1"
                                        target="_blank">http://www.yourdolphin.co.uk/productdetail.asp?id=1</a></td>
                                <td valign="top" data-label="Free / Commercial">Commercial</td>
                            </tr>
                            <tr>
                                <td valign="top" data-label="Screen Reader">Window-Eyes</td>
                                <td valign="top" data-label="Website"><a
                                        title="External website that opens in a new window"
                                        href="http://www.gwmicro.com/Window-Eyes/"
                                        target="_blank">http://www.gwmicro.com/Window-Eyes/</a></td>
                                <td valign="top" data-label="Free / Commercial">Commercial</td>
                            </tr>
                            <tr>
                                <td style="font-size: 1px; height: 1px; padding: 0px; margin: 0px;" colspan="3"
                                    valign="top">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>