<!-- <app-services-menu></app-services-menu> -->
<!-- <router-outlet></router-outlet> -->
<div class="headerDuplicate margin2030 top-space">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <h2>List of Pending Applications </h2>
        </div>
    </div>

    <div class="align-padding-left-right">
        <table class="datatable-panel top-space center-position" style="margin: 0 auto !important;">
            <thead>
                <th>Sr No.</th>
                <th>Purpose</th>
                <th>Application No</th>
                <th>Show Status</th>
            </thead>
            <tbody>
                <tr *ngFor="let parent of pendingListParent;let i=index ">
                    <td>{{i+1}}</td>
                    <td>{{parent.descr}} </td>
                    <td>{{parent.appl_no}}</td>
                    <td><button mat-button class="btn-primary" style="margin: 2px !important">
                        <i class="fa fa-search"></i></button></td>
                </tr>
            </tbody>
        </table>


        <!-- <table>
            <tr *ngFor="let child of pendingListChild; ">
                <td>{{child.action_descr}} </td>
                <td><button mat-button class="btn-primary" style="margin: 2px !important">Click
                        Here</button></td>
            </tr>
        </table> -->
        <div class="top-space red bottom-space font-bold-500">
            **Please note that when application will be disposed then in case any payment is made, will not be refunded.
        </div>

        <section class="step-indicator">
            <ul class="step active indicator-line" *ngFor="let child of pendingListChild;let i=index">
                <li class="step-icon">{{i+1}}</li>
                <a>{{child.action_descr}}</a>
            </ul>
            <br><br><br>



            <!-- <div class="step step2">
                <div class="step-icon">2</div>
                <p>Print Receipt/SR Forms</p>
            </div>
            <div class="indicator-line"></div>
            <div class="step step3">
                <div class="step-icon">3</div>
                <p>Upload Document</p>
            </div>
            <div class="indicator-line"></div>
            <div class="step step3">
                <div class="step-icon">3</div>
                <p>Final Submit</p>
            </div>
            <div class="indicator-line"></div>
            <div class="step step3">
                <div class="step-icon">3</div>
                <p>Book Appointment</p>
            </div> -->
        </section>

        <br><br><br><br>



    </div>
</div>