  .form input[type='text'],input[type='password'],
  input[type='email'], select
  {
    box-shadow: 0px 1px 1px rgb(105, 105, 105);
  }
  .rec-prism h2{
    font-size: 1.2em;
    color: #03a4ed;
  }




