<div class="dialog-header"> {{'Apply4Regn4NOCIssuedVhcl' | translate}}
    <a (click)="close()" style="cursor: pointer;"><span class="left-space float-right"><i
                class="fa fa-times"></i></span></a>
</div>
<div class="ui-grid-row dialog-body-color">
    <form class="form-inline">
        <div class="form-group mb-2">
            <label>{{'VhlRegnNo' | translate}}</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputnoc" class="sr-only">NOC TextBox</label>
          <input type="text" class="form-control" id="inputnoc" placeholder="{{'VhlRegnNo' | translate}}">
        </div>
        <button type="submit" class="btn btn-primary mb-2">{{'Proceed_leftSidebar' | translate}}</button>
      </form>
</div>