<div id="onlineservice">
    <form class="form contact">
        <h2>Information regarding Authentication Modes while availing any service </h2>
        <ul>
            <li>Authentication modes for availing any service on Vahan Portal is as per directions from respective state
                and accordingly authentication modes are enabled or disabled.</li>
            <li>So while availing any service wherever Aadhaar biometric authentication is only vailable mode then
                applicant may visit the nearest CSC or attach a biometric device to the laptop/ desktop to get
                authenticated.
            </li>
            <li>If you do Aadhaar Authentication with Aadhaar number of a person other than registered owner then your
                will be rejected and fees shall not be refundable.</li>
            <li>For Services not in the below list, user has to visit RTO for verification with
                appointment(if required).</li>
            <li>For further details, Click on User Manual icon on top right of Home Page.</li>
        </ul>
        <div class="row">
            <div class="col-lg-12 center-position">
                 <button type="submit" value="proceed" 
                 class="theme-btn btn-style-one dark-line-two hover-light" 
                 (click)="getAuthenticate()" mat-dialog-close><span
                class="btn-title">{{'Proceed_leftSidebar' | translate}}</span></button>
            </div>
        </div>
    </form>
</div>