.feesPurChkBoxes {
  /* background: linear-gradient(180deg, #c1decd 0, #f7ffe0 100%);
        border-radius: 40px; */
  background: rgb(255 255 255 / 69%);
  border: 1px solid #E4E4E2;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;


  padding: 10px;
  margin: 20px auto;
  height: auto;
  text-shadow: 0 0 0 #000 !important;
  line-height: 3;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}
/*   */

.application-panel {
  background: radial-gradient(50% 50% at 50% 50%, rgb(249 249 249 / 71%) 0%, rgb(194 226 255 / 51%) 100%);
  border: 1px solid #8baee1;
  box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
