<div>
    <!-- <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <h2>Transfer Details</h2>
        </div>
    </div> -->
    <div class="align-padding-left-right login-box-regn-feedback">
        <!-- <form novalidate autocomplete="off"> -->
        <div class="row">
            <div class="col-md-3">
                <label class="field-label field-label-mandate">Purpose </label>
                <select class="form-select" required>
                    <mat-option selected> select one option</mat-option>
                    <mat-option value="1">Online Service</mat-option>
                    <mat-option value="2">RTO End</mat-option>
                </select>
             </div>
            <div class="col-md-3">
                <label class="field-label field-label-mandate">Owner Serial No:</label>
                <input class="form-control">
            </div>
            <div class="col-md-3">
                <label class="field-label field-label-mandate">Owner Name </label>
                <input class="form-control">
            </div>
            <div class="col-md-3">
                <label class="field-label field-label-mandate"> Ownership Type </label>
                <select class="form-select" required>
                    <mat-option selected> select one option</mat-option>
                    <mat-option value="1">Online Service</mat-option>
                    <mat-option value="2">RTO End</mat-option>
                </select>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-3">
                <label class="field-label field-label-mandate">Father/Husband's Name
                </label>
                <input class="form-control">
            </div>
            <div class="col-md-3">
                <label class="field-label field-label-mandate"> Owner Category</label>
                <select class="form-select" required>
                    <mat-option selected> select one option</mat-option>
                    <mat-option value="1">Online Service</mat-option>
                    <mat-option value="2">RTO End</mat-option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="field-label field-label-mandate"> Sale Amount:
                </label>
                <input type="date" class="form-control">
            </div>
            <div class="col-md-3">
                <label class="field-label field-label-mandate"> Sale Date
                </label>
                <input  type="date" class="form-control">
                <p class="error-color">(* As Per Form 29)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="field-label field-label-mandate"> New Owner(Buyer) Mobile No():</label>
                <input class="form-control">
               </div>
            <div class="col-md-9">
                <label class="field-label field-label-mandate" style="visibility: hidden;"> New Owner(Buyer) Mobile No():</label>
                  <div class="error-color">(* This mobile number will be recorded in Vahan Services for
                    any further communication via Vahan services.
                    So please enter the mobile number on which you want
                    future communications to be sent)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 top-space bottom-space">
                <strong class="font-bold">***Note :</strong> <span class="error-color"> Transfer of
                    Ownership (TO) is
                    Used in Case
                    of SALE, AUCTION, SUCCESSION
                </span>
            </div>
        </div>
    </div>
</div>