<footer class="main-footer footer-style-two">
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="inner-container">
        <div class="copyright-text">VAHAN 4.0 (Citizen Services) ~onlineapp02~150~8013 vahan.parivahan.gov.in (Build
          Version:102420241730)
          Site Best viewed in Google Chrome <br>This Website belongs to Ministry of Road Transport & Highways (MoRTH)
          Government of India
        </div>

        <div class="footer-nav">
          <a href="http://www.nic.in/" target="_blank">
            <img src="assets/img/footer_icon/nic-logo.png" alt="NIClogo">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>